/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body usando Flexbox para estructurar */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
}

/* Contenedor principal con un espacio flexible */
.container {
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio disponible */
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Estilos de las secciones */
section {
    margin: 20px 0;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

ul li strong {
    color: #555;
}

a {
    color: #008cba;
    text-decoration: none;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 0.9em;
}
